.header__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  padding-right: 24px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .header__email {
    text-align: center;
    padding-right: 0;
    padding-bottom: 18px;
  }
}